.question {
    font-family: 'Shadows Into Light', cursive;
    width: 450px;
    border: 1px solid #ccc;
    background-color: #fbfbfb;
    padding: 10px;
    box-shadow: 2px 2px #ccc;
}

.question h3 {
    margin-top: 0px;
}

.question button {
    width: 100%;
    height: 30px;
    margin-top: 8px;
    border-radius: 5px;
    background-color: #999;
    color: #333;
    font-size: 1.15em;
}